: :root {
    --text-color: #FFF0F5;
    --card-front-color : #144480 ;
    --card-back-color : #88F48F;
}

body{
    background: url('img/bg-desktop.webp');
}


#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    margin: 1rem 1rem;
    height:20rem;
    flex-grow :1;
    flex-basis: calc(33%-6grem);
}
.cartao___conteudo h3{
    background-color: var(--card-front-color);
    text-align: center;
    /* background-color:aquamarine; */
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;

}

.cartao___conteudo h3{
  color: var(--text)
  border:1px solid var (--ext-color);
  text-alin:center;
  padding: 0.5rem;
  position: absolute;
  margin: 0.6rem;
  border-radius:0.6rem;
  font-size:1vw;
  backface-visibility:hidden;
}

.cartao___conteudo p{
    margin-top:1rem;
    padding:2rem;
    margin-top:4rem;
    font-size:1.4vw;
}
 
.cartao___conteudo___pergunta p{
    color; var(--text-color);
    font-weight:500;
}

.cartao___conteudo___respostas p{
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao.active   .cartao___conteudo{
    transform: rotateY(180deg);
}

.cartao___conteudo___pergunta,
.cartao___conteudo___respostas{
    backface-visibility: hidden;
    position: absolute;
    height:100%;
    width:100%;
    box-sizing: border-box;
}

.